[Unit]
Description=LibreOffice headless service for unoconv/Moodle
After=network.target

[Service]
Type=simple
User=apache
Group=apache
Environment=HOME=/home/apache
WorkingDirectory=/home/apache
ExecStart=/opt/libreoffice25.8/program/soffice --headless --invisible --norestore --nodefault --nolockcheck --accept="socket,host=127.0.0.1,port=2002;urp;"
Restart=always

[Install]
WantedBy=multi-user.target
